In [7]:
import pandas as pd
import numpy as np
import time

In [8]:
data = pd.read_csv('data/raw/owid-covid-data.csv')

print(f"Shape is: {data.shape}")
data.head()

Shape is: (253705, 67)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [9]:
data = data[['iso_code', 'continent', 'location', 'date', 'total_cases', 'total_cases_per_million', 'positive_rate']]
data.head()

,iso_code,continent,location,date,total_cases,total_cases_per_million,positive_rate
0,AFG,Asia,Afghanistan,2020-02-24,5.0,0.122,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.122,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.122,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.122,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.122,NaN

In [10]:
data['date'] = pd.to_datetime(data['date'], errors='coerce')

In [13]:
data.to_csv('data/cleaned/owid-covid-data-cleaned.csv', index=False)